<h1>new.html</h1>
<h3>新規投稿</h3>
<%= form_for @trip do |f| %>
    <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>
        <div class="field">
            <%= f.label :image %>
            <%= f.file_field :image %>
        </div>
        <div class="field">
            
            <br><%= f.label :出発地 %></br>
            <%= f.select :departure, [["愛媛", "愛媛"], ["香川", "香川"], ["徳島", "徳島"], ["高知", "高知"]], include_blank: "選択して下さい" %>
            

            <br><%= f.label :目的エリア %></br>
            <%= f.select :destination, [["北海道・東北", "北海道・東北"], ["関東", "関東"], ["中部", "中部"], ["近畿・中国", "近畿・中国"], ["九州", "九州"]], include_blank: "選択して下さい" %>
            
            <br> <%= f.label :会場名 %></br>
            <%= f.text_field :detail, :size => 140 %>

            <br> <%= f.label :交通手段 %></br>
            <%= f.select :transportation, [["飛行機", "飛行機"], ["電車", "電車"], ["バス", "バス"], ["フェリー", "フェリー"], ["その他", "その他"]], include_blank: "選択して下さい" %>
            

            <br><%= f.label :感想 %></br>
            <%= f.text_field :thought, :size => 140 %>  

            <br><label class="control-label" for="">出発日</label></br>
             <%= f.date_select :date, {}, class: 'form-control' %>

            

            <br><%= f.label :アーティスト名 %></br>
            <%= f.text_field :whoslive, :size => 140 %>
        </div>

    

    <%= f.submit "投稿する" %>
<% end %>
<%= link_to "投稿一覧に戻る", trips_path %>